# Build output
/build/
/cmake-build-*/
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.su

# CMake
CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
compile_commands.json

# Editor / tooling
.vscode/
.cache/
*.launch
